body{
	background-color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}

@media only screen and (max-width: 425px){
	.keys2 input{
		display: inline-block;
		border: 1px solid #bbb;
		border-radius: 10px;
		width: 55px;
		text-align: center;
		padding: 10px;
		margin: 10px 4px 10px 0;
		cursor: pointer;
		font-weight: lighter;
		color: #fff;
	  background-color: darkslategrey;
		transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
		
		height: 32px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans;
	
		box-shadow: inset 0px 1px 7px 0px gray;
		
		-webkit-transition-duration: 0s;
		-moz-transition-duration: 0s;
		-o-transition-duration: 0s;
		transition-duration: 0s;
	}
	.formstyle {
		width: 248px;
		height: 470px;
		margin: auto;
		border: 2px solid white;
		border-radius: 25px;
		padding: 20px;
		background-color: gray;
	  box-shadow: 0px 0px 1px 0px white, inset 0px 0px 15px 0px black;
	
	}

}

.equal{
	background-color: black;
	color: white;
	border: 1px solid ;
	border-radius: 13px;
	width: 55px;
	text-align: center;
	padding: 10px;
	margin: 10px 4px 10px 0;
	cursor: pointer;
	font-weight: bolder;
	transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans
}
/* .keys2 input {
	width: 15x;
    text-align: center;
	line-height: 2.5;
	background-color: white;
	color: black;
	border: 0;
	border-radius: 20px;
	padding: 26px;
	margin: 2px;
	font-size: 11px;
	height: 5px;

} */
#rmOne{
	background-color: darkslategray;
	color: white;
	border: 1px solid ;
	border-radius: 13px;
	width: 55px;
	text-align: center;
	padding: 10px;
	margin: 10px 4px 10px 0;
	cursor: pointer;
	font-weight: lighter;
	transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans
}


.keys2 input{
	display: inline-block;
	border: 1px solid #bbb;
	border-radius: 10px;
	width: 55px;
	text-align: center;
	padding: 10px;
	margin: 10px 4px 10px 0;
	cursor: pointer;
	font-weight: lighter;
	color: #fff;
  background-color: darkslategrey;
	transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
	
	height: 32px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans;

	box-shadow: inset 0px 1px 7px 0px gray;
	
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

.keys2 input:hover{
	color: #fff;
  background-color: #222;
  border-color: #adadad;
	transition: 0.3s;
}
.keys2 input:focus {
	/* to modify default behavior of outlining buttons after they've been clicked */
	outline: none!important;
	box-shadow: inset 0px 1px 7px 0px gray;
  }

#calc {
	width: 205px;
	border: 0px solid white;
	padding: 20px;
	margin: auto;
	font-size: 15px;
	outline: none;
	font-weight: bolder;
	background-color: #c3c2ab
	
}
.title{
	text-align: center;
	color: white;
	margin: 0 80px;
	font-weight: lighter;
	padding-bottom: 10px;

}

.ans {
	text-align: right;
	width: 245px;
	background-color: #c3c2ab;
	border: 0px solid black;
	font-weight: bold;
	margin-right: -20px;

	
}

.formstyle {
	width: 248px;
	height: 470px;
	margin: auto;
	border: 2px solid white;
	border-radius: 25px;
	padding: 20px;
	background-color: gray;
  box-shadow: 0px 0px 1px 0px white, inset 0px 0px 15px 0px black;

}


#shift{
	background-color: darkslategray;
	color: white;
	border: 1px solid ;
	border-radius: 13px;
	width: 55px;
	text-align: center;
	padding: 10px;
	margin: 10px 4px 10px 0;
	cursor: pointer;
	font-weight: lighter;
	transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans
}


#clear{
	width: 117px;
	border: 1px solid #bbb;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	margin: 10px 4px 10px 0;
	cursor: pointer;
	font-weight: bolder;
	background-color: #d9534f;
	transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: black;
}

#cheat{
	color: black;
}
